* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

header {
  padding-top: 96px;
  padding-bottom: 64px;
}

main {
  background-color: #666666;
  border-top: 6px solid #999999;
  padding-top: 72px;
  padding-bottom: 58px;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

.max-width-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  padding: 0px 24px;
  max-width: 415px;
}

.intro-chunk strong {
  color: #009966;
}

.indented-heading {
  padding: 16px 32px;
  margin-left: -32px;
  margin-top: 0px;
  background-color: #FFBF00;
  width: max-content;
  border-bottom: 6px solid #CC9900;
}

.card {
  margin: 24px;
  padding-top: 8px;;
}

.card p {
  margin: 16px 0px;
}

main .max-width-wrapper {
  background-color: white;
  border-bottom: 6px solid #999999;
}